{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!--===============================================================================================-->

	<title>ChatJ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'styles/forms/util.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/forms/main.css' %}  ">
<!--===============================================================================================-->

</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178" method="POST">
					{% csrf_token %}
					<span class="login100-form-title">
						Sign In
					</span>

					<div class="wrap-input100 validate-input m-b-16" >
						{% render_field form.username placeholder="Username" autocomplete="off" name="username" class="input100" type="text" %}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" >
						{% render_field form.password1 class="input100" type="password" name="pass1" placeholder="Password" %}

						<span class="focus-input100"></span>
					</div>
					
					<div class="wrap-input100 validate-input " >
						{% render_field form.password2 class="input100" type="Password" name="pass2" placeholder="Re-Enter password" %}
						
						<span class="focus-input100"></span>
					</div> <br> <br>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div class="flex-col-c p-t-170 p-b-40">
						<span class="txt1 p-b-9">
							Do you have an account?
						</span>

						<a href="{% url 'login' %}" class="txt3">
							Log in
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
